<title>New Sanction | Sancbook</title>

<h1>Create sanction</h1>

<div class="form_container">
    <%= render :partial => 'form' %>
    
    <div class="featurePlaceholder"><p>Image from the URL will pop up here as you fill in the flag input box.</p><img onload="featureWidth()" class="feature" src="<%= @sanction["image"] %>"></div>
</div>
    

<script>

    
    profile_pic = document.querySelector("#sanction_image");
    featurePlaceholder = document.querySelector(".featurePlaceholder");
    profile_pic.addEventListener("input", function(){
        e = featurePlaceholder.lastElementChild
        if (profile_pic.value != '') {
            p = featurePlaceholder.querySelector("p")
            if (typeof(p) != 'undefined' && p != null) {
                featurePlaceholder.removeChild(p)
            }
    
            img = document.createElement('img')
            img.src = profile_pic.value
            featurePlaceholder.appendChild(img)
            featurePlaceholder.removeChild(e);
            img.addEventListener("load", function() {
                img.style.width = '100%'
            });

            img.addEventListener("error", function() {
                console.log("Image failed to load");
            });

        } else {
            p = document.createElement('p')
            p.textContent = "Image from the URL will pop up here as you fill in the image input box."
            featurePlaceholder.appendChild(p)
            featurePlaceholder.removeChild(e);
        }
    })
</script>


