<title>About us | Sancbook</title>

<div class="about">
<h1 class="aboutGreeting">Hi, we are Sancbook</h1>

<div class="aboutText">
    <p><span class= 'aboutBrand'>Sancbook</span>, probably the largest online social media and social networking service about sanctions in the world. We're commited to connecting people through sanctioning. Our goal is to attract people who have a sense of justice, discussing measures to stop civil and political rights violations, but most importantly, making like-minded friends across the globe!</p>
    <p>The main source of the sanctions discussed on Sancbook originates from the <a href="https://ofac.treasury.gov/specially-designated-nationals-list-data-formats-data-schemas" target="_blank">U.S. Department of the Treasury</a>, and we strive to keep our community informed and engaged in conversations that matter. Join us in building a community that stands against civil and political rights violations, and let's make a positive impact together!</p>
    <p>Explore the world of sanctions and justice at <a href="/">Sancbook</a>.</p>
</div>
</div>


