<title>About us | Sancbook</title>

<div class="about">
<h1 class="aboutGreeting">Hi, we are Sancbook</h1>

<div class="aboutText">
    <p><span style='font-size:x-large'>Sancbook</span>, probably the largest online social media and social networking service about sanctions in the world. We're commited to connecting people through sanctioning. Our goal is to attract people who have a sense of justice, discussing measures to stop civil and political rights violations, but most importantly, making like-minded friends across the globe!</p>
</div>
</div>


