<title>About us | Sancbook</title>

<h1>Hi, we are Sancbook</h1>

<div class="about">
    <p><span style='font-size:x-large'>Sancbook</span>, probably the largest online social media and social networking service about sanctions in the world. We're commited to connecting people through sanctioning. Our goal is to attract people who have a sense of justice, discussing measures to stop civil and political rights violations across the global, but most importantly, making like-minded friends!</p>

</div>


