<h1>New country</h1>
<div class="country_container">
    <%= render :partial => 'form' %>
    <div class ='preview'><p>Image would pop up here as you fill in the flag input box.</p></div>
</div>

<script>

    preview = document.querySelector(".preview");
    flag = document.querySelector("#country_flag");
    flag.addEventListener("input", function(){
        
        e = preview.lastElementChild
        if (flag.value != '') {
            img = document.createElement('img')
            img.src = flag.value
            preview.appendChild(img)
            preview.removeChild(e);
        } else {
            p = document.createElement('p')
            p.textContent = "Image would pop up here as you fill in the flag input box."
            preview.appendChild(p)
            preview.removeChild(e);


        }
    })






</script>


