body::before {
    /* background-image: url('../images/usdt.jpg'); */
    opacity: 0.03;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

body {
    background-color: rgb(232, 246, 254);
    font-size:large;
    font-family: Helvetica, Arial, sans-serif;
}

.intro {
    line-height: 40px;
}


.container {
    position: relative;
    max-width: 960px;
    margin:0 auto;
}

.OFAC {
    font-size: medium;
}

nav > a {
    margin-right: 20px;
}

.control > a {
    margin-right: 20px;
}


.profile {
    display: flex;
    margin-bottom: 50px;
}

img {
    max-width: 250px;
}

.feature {
    max-width: 250px;
    padding-left: 50px;
}

.details {
    text-align: left;
    width: 550px;
    margin-top: -2%;
    font-weight: bold;
}

.summary, .address {
    margin-bottom: 0
}

.control {
    margin-top: 50px
}


button {
    margin-top: 15px;
}

label {
    display: block;
    float: left;
}

input {
    padding: 3px;
    box-shadow: 3px 3px 3px grey;
    width: 90%;
  }

button {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

.collapsible {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    border: none;
    margin-left: 0;
    background-color: lightgray;
    margin-left: -1%;

  }

.collapsible:hover {
    background-color: #777;;
    color: white;
}


.content {
    display: none;
    overflow: hidden;
}

.content > p {
    line-height: 150%;
}

.form_container {
    display: inline-flex;
    gap: 8vw;
}

.form_container > form {
    width: 350px;
    padding: 0 10px 20px 10px;
}



.country_feature, div.profile > figure > figcaption {
    max-width: 250px;
    padding-right: 25px;
    margin-left: -15%;
}

figcaption {
    text-align: center;
}

div.preview {
    width: 420px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.preview > p {
    line-height: 150%;
}

figure.preview {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure.preview > p {
    line-height: 150%;
}

p.error {
    color: red;
    font-size: medium;
}

button.collapsible {
    font-size: large;
    padding:10px 10px 4px 4px;
    margin-left: 0px;
    font-weight: bold;
}

header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
div.login_profile{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px
}

div.login_profile > div {
    width: 100%;
    height: max-content;
    text-align: left;
    background-color: white;
    padding: 0 30px 40px 30px;
    line-height: 180%;
}

div.login_profile > div > form > label {
    padding-bottom: 1%;
}

div.login_profile > div > form > input {
    font-size: large;
    line-height: 150%;
}

div.login_profile > div > form > .submit {
    margin-top: 5%;
}

div.login_profile > div > p {
    color: red;
}

div.signup_profile{
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
}

div.signup_profile > div {
    width: 100%;
    height: max-content;
    text-align: left;
    background-color: white;
    padding: 30px 30px 40px 30px;
    line-height: 180%;
}

div.signup_profile > div > form > label {
    padding-bottom: 1%;
}

div.signup_profile > div > form > input {
    font-size: large;
    line-height: 150%;
    margin-bottom: 5%;
}

div.signup_profile > div > form > div.field_with_errors > label {
    padding-bottom: 1%;
}

div.signup_profile > div > form > div.field_with_errors > input {
    font-size: large;
    line-height: 150%;
    margin-bottom: 5%;
}   



div.signup_profile > div > form > .submit {
    margin-top: 10%;
}

ol > li {
    color: red;
}

div.user_profile {
    display:inline-flex
}


div.thumb {
    width:140px;
    height: 130px;
    display: flex;
}

div.thumb > a {
    text-align: center;
}

div.thumb > a > img {
    width: 90px;
    align-self: center;
    
}
div.thumb > a > figcaption {
    margin: 0 auto;
}

.country_index {
    display: inline-flex;
    flex-wrap: wrap;
}

.user_index {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px
}