body::before {
    /* background-image: url('../images/usdt.jpg'); */
    opacity: 0.03;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

body {
    background-color: rgb(232, 246, 254);
    font-size:large;
    font-family: Helvetica, Arial, sans-serif;
}

.intro {
    line-height: 40px;
}


.container {
    position: relative;
    max-width: 960px;
    margin:0 auto;
}

.OFAC {
    font-size: medium;
}

nav > a {
    margin-right: 20px;
}

.control > a {
    margin-right: 20px;
}


.profile {
    display: flex;
    margin-bottom: 50px;
}

img {
    max-width: 250px;
}

.feature {
    max-width: 250px;
    padding-left: 50px;
}

.details {
    text-align: left;
    width: 550px;
    margin-top: -2%;
    font-weight: bold;
}

.summary, .address {
    margin-bottom: 0
}

.control {
    margin-top: 50px
}


button {
    margin-top: 15px;
}

label {
    display: block;
    float: left;
}

input {
    padding: 3px;
    box-shadow: 3px 3px 3px grey;
    width: 90%;
  }

button {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

.collapsible {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    border: none;
    margin-left: 0;
    background-color: lightgray;
    margin-left: -1%;

  }

.collapsible:hover {
    background-color: #777;;
    color: white;
}


.content {
    display: none;
    overflow: hidden;
}

.content > p {
    line-height: 150%;
}

.form_container {
    display: inline-flex;
    gap: 8vw;
}

form {
    width: 350px;
    padding: 0 10px 20px 10px;
}



.country_feature, figcaption {
    max-width: 250px;
    padding-right: 25px;
    margin-left: -15%;
}

figcaption {
    text-align: center;
}

div.preview {
    width: 420px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.preview > p {
    line-height: 150%;
}

figure.preview {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure.preview > p {
    line-height: 150%;
}

p.error {
    color: red;
    font-size: medium;
}


