/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 


form .no_comments[disabled] {
    background-color: transparent !important;
    cursor: default !important;
    float:initial;

}

nav.right {
    width: 400px;
    justify-content:right !important;
}

footer {
    display: inline-flex;
    width: auto;
    position: fixed;
    right: 0px;
    bottom: 50%;
    color: lightgray;
}

footer > div > a {
    text-decoration: none;
    color: lightgray;
    margin-bottom: 1.5vh;
}

footer > div {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}


body {
    background-color: rgb(232, 246, 254);
    font-size:large;
    font-family: Helvetica, Arial, sans-serif;
}

.intro {
    line-height: 40px;
}


.container {
    position: relative;
    width: 65vw;
    justify-content: center;
    margin:0 auto;
}

.OFAC {
    font-size: medium;
}



.control > a {
    margin-right: 20px;
}


.profile {
    display: flex;
    margin-bottom: 50px;
}

img {
    max-width: 250px;
}

div.div_feature {
    max-width: 250px;
    display: block;
    padding-left: 30px;
    text-align: center;
    
}


div.div_feature > a {
    padding-top: 1px;
    text-align: centre;
}

div.div_feature > p {
    margin-top: -2px
}

.details {
    text-align: left;
    width: 400px;
    font-weight: bold;
}

.summary, .address {
    margin-bottom: 0
}

.control {
    margin-top: 50px
}


button {
    margin-top: 15px;
}

label {
    display: block;
    float: left;
}

input {
    padding: 3px;
    box-shadow: 3px 3px 3px grey;
    width: 90%;
  }

button {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}

.collapsible {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    border: none;
    margin-left: 0;
    margin-left: -1%;
    font-weight: bold;
    background-color: transparent;

  }

.collapsible.active {
    text-decoration-thickness: 3px;
}
.collapsible:hover {
    text-decoration-thickness: 3px;
}

button.collapsible {
    font-size: large;
    padding:10px 10px 4px 4px;

}

.content {
    display: none;
    overflow: hidden;
}

.content > p {
    line-height: 150%;
}

.form_container {
    display: inline-flex;
    gap: 8vw;
}

.form_container > form {
    width: 350px;
    padding: 0 10px 20px 10px;
}



.country_feature, div.profile > figure > figcaption {
    max-width: 250px;
    padding-right: 25px;
    margin-left: -15%;
}

figcaption {
    text-align: center;
}

div.preview {
    width: 420px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.preview > p {
    line-height: 150%;
}

figure.preview {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure.preview > p {
    line-height: 150%;
}

p.error {
    color: red;
    font-style: italic;
}

ol.error > li {
    color: red;
    font-style: italic;
    line-height: 150%;
}

div.alert {
    color: red;
    font-style: italic;
    line-height: 150%; 
}


header {
    display: flex;
   
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: medium;
    padding-bottom: 5px;
    border-bottom: 2px solid lightskyblue;
}
nav.right {
    display: flex;
    flex-direction: row-reverse;

    justify-content: center;
    align-items: flex-end;
    }

nav.right > div > span {
    padding-right: 20px;
}

nav.left {
    width: 70%
}

nav.left > div > a {
    padding-right: 20px;
}

div.logo > a{
    font-size: 5vh;
}


header > nav > a:hover {
    text-decoration: underline;
    text-decoration-thickness:2px;
    text-underline-offset: 3px
}


header > nav > div > a:hover {
    text-decoration: underline;
    text-decoration-thickness:2px;
    text-underline-offset: 3px
}


header > nav > div > span > a:hover {
    text-decoration: underline;
    text-decoration-thickness:2px;
    text-underline-offset: 3px
}

div.signup_profile, 
div.edit_profile{
    justify-content: space-between;
    width: 400px;
    display:block;
}

div.signup_profile > div, 
div.edit_profile > div {
    width: 100%;
    height: max-content;
    text-align: left;
    background-color: white;
    padding: 30px 30px 40px 30px;
    line-height: 180%;
}

div.signup_profile > div > form > label, 
div.edit_profile > div > form > label {
    padding-bottom: 1%;
}

div.signup_profile > div > form > input, 
div.edit_profile > div > form > input {
    font-size: large;
    line-height: 150%;
    margin-bottom: 5%;
}

div.signup_profile > div > form > div.field_with_errors > label,
div.edit_profile > div > form > div.field_with_errors > label {
    padding-bottom: 1%;
}

div.signup_profile > div > form > div.field_with_errors > input,
div.edit_profile > div > form > div.field_with_errors > input {
    font-size: large;
    line-height: 150%;
    margin-bottom: 5%;
}  

div.signup_profile > div > form > .submit,
div.signup_profile > div > form > .submit {
    margin-top: 10%;
}



ol > li {
    color: red;
}

div.showContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8vw;
}



div.commentSection {
    display: flex;
    align-items: flex-start;
    height: 85vh;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px;
    border-color: skyblue;
    width: 325px;
    padding: 0 5px 5px 5px;
    flex-wrap: wrap;
    justify-content: left;
    border-radius: 0.5em;
    overflow:hidden;
    
}

div.commentHeader {
    margin: auto;
    border-bottom:solid;
    border-color: skyblue;
    margin-bottom: 10px;
    width:100%;
}

div.commentHeader > h3 {
    line-height: 5%;
}

div.commentSection > form {
    width:100%;
    display: inline-flex;
    align-self: flex-end;
    flex-wrap: wrap;
}

div.comment > div > span.time {
    font-size:small;
}

div.comment > p {
    line-height:22px;
}
form#new_comment {
    align-self: flex-end;
}

div.comment_box {
    width: 100%;
}

#comment_text {
    width:98%;
    height: 10vh;
    font-size: large;
    border-radius: 0.5em;
}

div.commentArea {
    overflow-y: auto;
    height: 60vh;
    width: 100%;
    word-wrap: break-word;
    
}
div.comment {
    padding-top:5px;
    padding-left:10px;
    padding-bottom:1px;
    border-radius: 10px;
}

div.comment:hover {
    background-color: rgb(203, 203, 203);
}

div.comment > div > span > .user, .user:visited {
    text-decoration: none;
    color:black;
}

div.comment > div {
    margin-bottom:-10px;
}

.removeComment{
    margin-left:10px;
    text-decoration: none;
    text-align: left;
    color:black;
    display: none;
    font-size:small;
    color:white;
}
















div.messageSection {
    display: flex;
    align-items: flex-start;
    height: 85vh;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 5px;
    border-color: skyblue;
    width: 325px;
    margin-top: -20px;
    padding: 0 5px 5px 5px;
    flex-wrap: wrap;
    justify-content: left;
    border-radius: 0.5em;
    overflow:hidden;
    
}

div.messageHeader {
    weight: 10vh;
    border-bottom:solid;
    border-color: skyblue;
    margin-bottom: 10px;
    width:100%;
}

div.messageHeader > h3 {
    line-height: 5%;
}

div.message_box {
    align-self: flex-end;
}

div.messageSection > form {
    width:100%;
    display: inline-flex;
    align-self: flex-end;
    flex-wrap: wrap;
}

div.sender > div > span.time {
    font-size:small;
    margin-right: 3%;
}


div.sender {
    text-align: right;
    margin-bottom: 10px;
    padding: 1.5px 0 0.5px 0;
    border-radius: 0.5em;
}



div.receiver > div > span.time {
    font-size:small;
    margin-left: 3%;
}


div.receiver {
    text-align: left;
    margin-bottom: 10px;
    padding: 1.5px 0 0.5px 0;
    border-radius: 0.5em;
}



div.sender > p {
    line-height:130%;
    /* text-align: left; */
    margin-left: 3%;
    margin-right: 5%;
}

div.receiver > p {
    /* line-height:130; */
    margin-right: 3%;
    margin-left: 5%;
}

form#new_message {
    align-self: flex-end;
}

div.message_box {
    width: 100%;
}

#message_text {
    width:100%;
    height: 10vh;
    font-size: large;
    border-radius: 0.5em;
}














input[type="submit"] {
    width:auto;
    font-size: medium;
    border-style: solid;
    box-shadow: none;
    padding: 3px 3px 3px 3px;
    border-radius: 0.5em;
    border-width: thin;
    height: 30px;
    margin: initial;
    margin-left: auto;
    margin-top: 5px;
    cursor: pointer;
    float: left;
}

input.message_button {
    float: right;
}

input[type="submit"]:hover {
    background-color: lightgray;
}


div.messageMain {
    text-align: -webkit-center;
}

div.messageArea {
    overflow-y: auto;
    overflow-x:hidden;
    height: 60vh;
    width: 100%;
    word-wrap: break-word;
    position : relative; bottom:0;
    display: flex;
    flex-direction: column-reverse;
    
}
div.message {
    padding-top:5px;
    padding-left:10px;
    padding-bottom:1px;
    border-radius: 10px;
}



div.sender {
    background-color: lightsalmon;
    width: 80%;
    float: right;
    align-self: flex-end;
}

div.sender:hover {
    background-color: rgb(203, 203, 203);
    width: 100%;
}

div.receiver:hover {
    background-color: rgb(203, 203, 203);
    width: 100%;
}

div.unread {
    width: 100%;
    font-style: italic;
    display: inline-block;
    text-align: center;
    margin: 0 auto;

}

.senderFloatingLeft {
    float: left;
    overflow-wrap: anywhere;
    text-align: left;
}


div.sender > div {
    margin-bottom:-10px;
}

div.receiver {
    background-color: rgb(128, 221, 240);
    width: 80%;
    float: left;
}


div.receiver > div {
    margin-bottom:-10px;
}

.removeMessage{
    margin-right:10px;
    text-decoration: none;
    text-align: left;
    display: none;
    font-size:small;
    color:white;
}



input[type="submit"] {
    font-size: large;
    border-radius: 0.3em;
    padding: 5px 10px 25px 10px;
}


.message_index {
    display: inline-flex;
    flex-wrap: wrap;
}

div.message_index > p {
 
    margin-right: 50px;
}




@media (max-width: 1110px) {
    .container {
        width: 90vw;
        height:auto;
    }


    

    .details {
        width: 300px;
    }

}

@media (max-width: 1000px) {
    div.showContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
  

    div.commentSection {
        width: 90%;
        height:fit-content
    }
    .commentHeader {
        font-size: 2.2vh;
    }
    div.comment_box {
        width: 100%;
        height: 15%;
    }
    div.comment_box > form {
        height: 100%
    }
    #new_comment > textarea#comment_text {
        height: auto;
        font-size: 2.2vh;
    }
    #new_comment > input[type="submit"] {
        height: 20%;
    }

    div.comment {
        font-size: 2vh;
    }

    div.comment > p {
        line-height: 2.5vh;
    }

    div.comment > div > span.time {
        font-size:1.5vh;
    }






    div.messageSection {
        width: 90%;
        height:fit-content;
        margin-top: 20px;
    }
    .messageHeader {
        font-size: 2.2vh;
    }
    div.message_box {
        width: 100%;
        height: 15%;
    }
    div.message_box > form {
        height: 100%
    }
    #new_message > textarea#message_text {
        height: auto;
        font-size: 2.2vh;
    }
    #new_message > input[type="submit"] {
        height: 20%;
    }

    div.message {
        font-size: 2vh;
    }

    div.message > p {
        line-height: 2.5vh;
    }

    div.message > div > span.time {
        font-size:1.5vh;
    }

    .details {
        width: 300px;
    }

    
    div.profile {
        display: flex;
        height: fit-content;
        font-size: 1.5vh;
        justify-content: space-evenly;
        margin-bottom: 10vh;
    }

    h1.aboutGreeting {
        font-size: 4vh;
        padding-top: 3vh;
        padding-left:0;
    }

    div.aboutText {
        height: 90vh;
        width: 80vw;
        font-size: 2.2vh;
        line-height: 180%;
    }

    span.aboutBrand {
        font-size:2.4vh;
    }

   

    
  
    div.details {
        width: 45vw;
    }
    img.feature {
        width: 100%;
    }
    div.featurePlaceholder {
        margin-top:5vh;
        width: 30vw;
        height: 20vh
    }
   .ofac > h3 {
        font-size: 2.4vh;
    }

    .ofac > h4 {
        font-size: 2.2vh;
    }

    .ofac > p {
        font-size: 1.6vh;
        line-height: 150%;
    }
    
   

    div.content {
        font-size: 1.6vh;
        line-height: 150%;
    }
    
    div.control {
        font-size: 1.2vh;
    }

    header {
        font-size: 1.5vh;
        flex-wrap: wrap;
    }

    p {
        font-size: 2.2vh;
    }
    nav.left {
        width: 100%;
        justify-content: center;
    }

    nav.left > div.link {
        text-align: center;
        margin-bottom: 6px;
    }
    nav.right {
        width: 100%;
        justify-content: center !important;
    }

    div.login_profile {
        height: 80vh;
        display:flex;
        flex-wrap: wrap;
       
    }

    div.login_profile > div.existing_user {
        width: 50vw;
        height: 30vh;
        line-height: 2vh;
        margin-top: 5vh;
    }

    div.login_profile > div > form input {
        font-size: 1.8vh;
        line-height: 150%;
    }


    label {
        font-size: 2vh;
    }

    form {
        height: 10vh;
    }
    div.login_profile > div.new_user {
        width: 50vw;
        height: 20vh;
    }

    div.login_profile > div.existing_user > h2 {
        font-size: 2.3vh;
    }

    div.existing_user {
        padding-top:0;
    }
    div.login_profile > div.new_user > h2 {
        font-size: 2.3vh;
    }

    input.submit {
        height: 4vh;
        line-height:6vh;
    }

    h1 {
        font-size: 3vh;
    }

    .mapHeader {
        line-height: 130%;
        font-size: 2vh;
    }

    .mapFooter {
        line-height: 130%;
        font-size: 1.8vh;
    }

    .postscript {
        padding-bottom:9vh;
        font-size: 1.5vh !important;
    }

    div.sanction_index {
        font-size: 1.8vh;
    }



    h3.nation {
        margin-top: 4vh;
        margin-bottom: 2vh;
        font-size: 2.3vh;
    }

    div.thumb {
        font-size: 2vh; 
        width: 30vw;
        height: 10vh;
        margin-bottom: 6vh;
    }

   
    div.thumb > a > img {
        width: 40vw;
    }
    div.new_country  {
        height: 40vh;
        
    }
    
    input#country_name {
        font-size: 2.2vh;
    }input#country_official_name {
        font-size: 2.2vh;
    }input#country_native_name {
        font-size: 2.2vh;
    }input#country_country_code {
        font-size: 2.2vh;
    }
    input#country_flag{
        font-size: 2.2vh;
        margin-bottom: 4vh;
    }

    input[type="submit"] {
        width: auto;
        height: auto;
        padding: 0.4vh 0.8vh 0.4vh 0.8vh !important;
        font-size: 1.2vh !important;
        flex-wrap:wrap;
        white-space: normal;
    }

    div.preview > p {
        font-size: 2.2vh;
    }

    div.personal_index > a {
        font-size: 2vh;
        margin-top: 8vh;
        line-height: 200%;
    }

    div.message_index > a {
        font-size: 2vh;
        margin-top: 8vh;
        line-height: 200%;
    }

    div.adminView form > input[type="submit"] {
        font-size: 1.7vh;
    }

    button.collapsible {
        font-size: 2vh;
        padding-bottom: 1.5vh;
        text-align: left;
    }

    div.control {
        font-size: 2vh;
        margin-bottom:5vh;
    }

    div.details > h2 {
        font-size: 2.8vh;
    }

    div.details > h2 > span {
        font-size: 2vh;
    }

    div.details > p {
        font-size: 2vh;
    }

    div.country_number {
        font-size: 2.2vh
    }

    input#sanction_name {
        font-size: 2.2vh
    }
    input#sanction_nationality {
        font-size: 2.2vh
    }
    input#sanction_risk {
        font-size: 2.2vh
    }
    input#sanction_image {
        font-size: 2.2vh
    }

    div.form_container {
        gap:1vw;
    }

    

    .form_container {
        height: auto;
    }

   
 

   
    div.container {
        height: 100vh;
    }

    figure.preview > div.featurePlaceholder {
        margin-top: 10vh;
        height: 520px;
        width: 400px;
    }
    figure.preview > div.featurePlaceholder >   img {
            height: 500px;
            width: auto;
        }
    div.personal_index > h2 {
        font-size: 2.4vh;
    }

    a.userOptions {
        font-size: 1.2vh;
    }

    h3.unreadMessages {
        font-size: 2.3vh;
    }
    input.message_button {
        font-size: 2.3vh !important;
    }

    div.messageArea {
        height: 65vh;
    }

    div.receiver {
        padding: 1.5px 0px 0.5px 30px;
        border-top-right-radius: 3.5em;
        border-bottom-right-radius: 3.5em;
    }

    div.sender {
        padding: 1.5px 30px 0.5px 0px;
        border-top-left-radius: 3.5em;
        border-bottom-left-radius: 3.5em;
    }

    td.sanction {
        width: 12vw;
        font-size: 1.5vh;
    }
    
    td.comment {
        width: 60vw;
        font-size: 1.5vh;
        word-break: break-all;
    }
    
    td.time {
        width: 8vw;
        font-size:initial;
    }
    
    tr.comments {
        border-bottom: inset;
    }

    div.receiver {
        padding-top: 0.5vh;
        padding-left: 0.5vw;
    }
    div.sender {
        padding-top: 0.5vh;
        padding-right: 0.5vw;
    }

    div.unread > p {
        font-size: 4.6vw !important;
    }

    p.notice {
 
        font-size: 1.5vh;
        top: 10%
    }

    div#map {
        margin-bottom: 5vh;
    }
}


    
