// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.thumb {
    width:180px;
    height: 130px;
    display: flex;
    justify-content: center;
}

div.thumb > a {
    text-align: center;
}

div.thumb > a > img {
    width: 90px;
}

div.thumb :hover {
    text-decoration: underline;
    text-decoration-thickness:2px;
    text-underline-offset: 3px
}

.country_index {
    display: inline-flex;
    flex-wrap: wrap;
}

div.details >h2 > span {
    font-weight: lighter;
    font-size: small;
}