// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mapHeader {
    line-height: 130%;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 90%
}

div.postscript {
    font-size:small;
    font-style:italic;
    margin-bottom: 2%;
}

div.postscript > p {
    margin: 0;
    margin-bottom: 3px;

}



footer {
    width: 20px;
}
div.about {
    display:flex;
    align-content: right;
    flex-direction: column
    
}

div.aboutText {
    line-height: 150%;
    font-size:large;
    letter-spacing: 0.01em;
    margin: 0 auto
}

span.aboutBrand {
    font-size:x-large;
}

@media (max-width: 1000px) {
    div.postscript > p {
        font-size: xx-small;
    }
}