// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mapHeader {
    line-height: 130%;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 90%
}

div.about {
    display:flex;
    align-content: center;
    flex-direction: column
    
}

h1.aboutGreeting {
    -webkit-padding-start: 10vw;
    padding-top: 10vh;
}

div.aboutText {
    line-height: 220%;
    width: 40vw;
    font-size:larger;
    letter-spacing: 0.01em;
    margin: 0 auto
}
