// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mapHeader {
    line-height: 130%;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 90%
}

p.postscript {
    font-size:small;
    line-height:30%;
    font-style:italic;
}

.pScreen {
    font-size:small;
    font-style:italic;
}

footer {
    width: 20px;
}
div.about {
    display:flex;
    align-content: right;
    flex-direction: column
    
}

h1.aboutGreeting {
    -webkit-padding-start: 10vw;
    padding-top: 10vh;
}

div.aboutText {
    line-height: 220%;
    width: 40vw;
    font-size:larger;
    letter-spacing: 0.01em;
    margin: 0 auto
}

span.aboutBrand {
    font-size:x-large;
}