// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.personal_index > nav {
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 50px;
    line-height: 40px;
}

.user_index {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px
}

.personal_index > .nation {
    text-decoration: none;
}

.personal_index > .nation:hover {
    text-decoration: underline;
    text-decoration-thickness:3px;
    text-underline-offset: 3px
}

.personal_index > a {
    margin-right: 45px;
    text-decoration: none;
    text-decoration-thickness:0;
}

.personal_index > a:hover {
    text-decoration: underline;
        text-decoration-thickness:2px;
        text-underline-offset: 3px
}

.personal_index > .sanction_index {
    gap: 0px;
    p {
        margin-right: 45px;
        a {
            text-decoration: none;
        }
    }
}

div.adminView {
    width: 100%;
    form > input[type="submit"] {
        font-size: large;
        border-radius: 0;
        padding: 5px 10px 25px 10px;
        // display: block;
        // margin: auto;
    }
    
}

.userOptions {
    border-bottom: 0.1em solid;
    font-size: medium;
    position: relative;
    top:-20px;
    margin-right:5px;
}

.userOptions:hover {
    text-decoration: underline;
    text-decoration-thickness:2px;
    text-underline-offset: 3px
}

.no_comments[disabled]:hover {
    background-color: initial !important;
    background-color: transparent !important;
    cursor: default !important;
}





.commentHistory {
    width:100%; 
    border-collapse:collapse; 
}

td.remove {
    font-size: small;
    visibility: hidden;
    vertical-align: text-bottom;
    a {
    color:white;
    }
}

td.number {
    padding-right: 2vw;
    vertical-align: text-bottom;
}

td.sanction {
    width: 12vw;
    padding-right: 2vw;
    vertical-align: text-bottom;
    padding-bottom: 0.7vh;
}

td.comment {
    width: 60vw;
    word-break: break-all;
    padding-right: 2vw;
    vertical-align: text-bottom;
    padding-bottom: 0.7vh;
    padding-top: 0.7vh;
}

td.time {
    width: 8vw;
    vertical-align: text-bottom;
    font-size:smaller;
}

tr.comments {
    border-bottom: inset;
}



.commentHistory tr.comments:hover {
      background-color: lightgray;
}



p.notice {
    color:green;
    font-style: italic;
    font-size: medium;
    position: absolute;
    top: 10%;
}

p.alert {
    color:red;
    font-style: italic;
    font-size: medium;
    line-height: 50%;
}

li {
    list-style-type: none;
    color:red;
    font-style: italic;
    font-size: medium;
    line-height: 50%;
  }